force-app/main/default/flows/Summarize_Case_LLM.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Generate_Summary_Labels</name>
        <label>Generate Summary Labels</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <actionName>Summarize_Case</actionName>
        <actionType>generatePromptResponse</actionType>
        <connector>
            <targetReference>Parse_Summary_JSON</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:myCase</name>
            <value>
                <elementReference>Get_Unsummarized_Case</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Summarize_Case</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Parse_Summary_JSON</name>
        <label>Parse Summary JSON</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <actionName>CaseSummaryParser</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>categoryJsonString</name>
            <value>
                <elementReference>Generate_Summary_Labels.promptResponse</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CaseSummaryParser</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Summarize Case LLM {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Summarize Case LLM</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Unsummarized_Case</name>
        <label>Get_Unsummarized_Case</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Generate_Summary_Labels</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Unsummarized_Case.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Quick_Summary__c</field>
            <value>
                <elementReference>Parse_Summary_JSON.summary</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason</field>
            <value>
                <elementReference>Parse_Summary_JSON.reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>Parse_Summary_JSON.caseType</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Unsummarized_Case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
