force-app/main/default/flows/Update_Weather.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Fetch_Weather</name>
        <label>Fetch_Weather</label>
        <locationX>264</locationX>
        <locationY>350</locationY>
        <actionName>GetWeather.Get_Current_Weather</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>Set_Current_Weather</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>key</name>
            <value>
                <elementReference>API_KEY</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>aqi</name>
            <value>
                <stringValue>no</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>q</name>
            <value>
                <elementReference>For_All_Cities.City__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GetWeather.Get_Current_Weather</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Add_to_Weather_Collection</name>
        <label>Add to Weather Collection</label>
        <locationX>264</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>Current_Weather_List</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Current_Weather</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_All_Cities</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Current_Weather</name>
        <label>Set Current Weather</label>
        <locationX>264</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>Current_Weather.Temperature_C__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fetch_Weather.2XX.current.tempx5fc</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Current_Weather.Temperature_F__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fetch_Weather.2XX.current.tempx5ff</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Current_Weather.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_All_Cities.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Weather_Collection</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>API_KEY</name>
        <dataType>String</dataType>
        <value>
            <stringValue>''</stringValue>
        </value>
    </constants>
    <environments>Default</environments>
    <interviewLabel>Update Weather {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Weather</label>
    <loops>
        <name>For_All_Cities</name>
        <label>For All Cities</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <collectionReference>Get_Weather_Cities</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Fetch_Weather</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Weather</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Weather_Cities</name>
        <label>Get Weather Cities</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>For_All_Cities</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Weather__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Weather</name>
        <label>Update Weather</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <inputReference>Current_Weather_List</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Weather_Cities</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Current_Weather</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Weather__c</objectType>
    </variables>
    <variables>
        <name>Current_Weather_List</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Weather__c</objectType>
    </variables>
</Flow>
